@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hidden::-webkit-scrollbar {
  width: 0.5em; /* Ancho de la barra de desplazamiento */
  background-color: transparent; /* Color de fondo de la barra de desplazamiento */
}
.scrollbar-hidden::-webkit-scrollbar-thumb {
  background-color: transparent; /* Color del pulgar de la barra de desplazamiento */
}
.scrollbar-hidden {
  scrollbar-width: thin; /* Ancho de la barra de desplazamiento */
  scrollbar-color: transparent transparent; /* Color de la barra de desplazamiento */
}